<!DOCTYPE html>
<html>
<head>
	<title>Michigan or Not</title>

	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<div>HI
<p>i am a paragraph</p>
</div>
<p>i should not be colored</p>

</body>
</html>