/* line 6, ../../compass/sass/views/_home.scss */
* {
  color: black;
}

/* line 23, ../../compass/sass/styles.scss */
div {
  color: blue;
}
/* line 25, ../../compass/sass/styles.scss */
div p {
  color: red;
}
